
<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="ddish">
<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{ddish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{ddish.image}} alt={{ddish.name}}>
    <mat-card-content>
      <p>{{ddish.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<div fxFlex="40"  >   
  <mat-list fxFlex *ngIf="ddish">   
   
<h1>comments</h1>  

    <mat-list-item *ngFor="let c of ddish.comments">          
      <h1 matLine> {{c.comment}} </h1>
      <h1 matLine> {{c.rating }} Stars</h1>
      <h1 matLine> --{{c.author }} {{c.date|date}} </h1>    
            </mat-list-item>  
        
</div>
